*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .block1{
   
   width: 555px;
   height: 555px;
   background-color: rgb(119, 226, 43);
   border-radius: 50%;
   position: relative;
   margin: 8px auto;
}
  .block2{
   
    width: 111px;
   height: 111px;
   position: absolute;
   left: 111px;
   top: 87px;
   background-color: white;
   border-radius: 50%;
    }

 .block3{
    
    width: 111px;
   height: 111px;
   position: absolute;
   right: 111px;
   top: 87px;
   background-color: white;
   border-radius: 50%;
    }
.block4{
   
    width: 77px;
   height: 77px;
   position: relative;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   background-color: white;
   border-radius: 50%;
    }
    .block5{
       
        width: 277px;
       height: 277px;
       position: relative;
       left: 50%;
       top: 62%;
       transform: translate(-50%, -50%);
       background-color: white;
       border-radius: 50%;
    }
    .block6{
        
        width: 322px;
       height: 266px;
       position: relative;
       left: 50%;
       top: 5%;
       transform: translate(-50%, -50%);
       background-color: rgb(119, 226, 43);
       border-radius: 50%;
    }
    .block21{
        border: 1px solid;
        width: 33px;
       height: 33px;
      
       background-color: black;
       border-radius: 50%;
       position: relative;
       left: 50%;
       top: 50%;
       transform: translate(-50%, -50%);
    }
    .block31{
        border: 1px solid;
        width: 33px;
       height: 33px;
      
       background-color: black;
       border-radius: 50%;
       position: relative;
       left: 50%;
       top: 50%;
       transform: translate(-50%, -50%);
    }
   